@model ErrorViewModel
@{
    ViewData["Title"] = "Hata";
}

<h1 class="text-danger">Hata.</h1>
<h2 class="text-danger">İsteğiniz işlenirken bir hata oluştu.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>İstek Kimliği:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Geliştirme Modu</h3>
<p>
    <strong>Geliştirme</strong> ortamına geçmek, oluşan hatayla ilgili daha detaylı bilgileri görüntüler.
</p>
<p>
    <strong>Geliştirme ortamı, dağıtılmış uygulamalar için etkinleştirilmemelidir.</strong>
    Bu, istisnaların hassas bilgilerini son kullanıcılara gösterebilir.
    Yerel hata ayıklama için, <strong>Geliştirme</strong> ortamını etkinleştirmek için <strong>ASPNETCORE_ENVIRONMENT</strong> ortam değişkenini <strong>Geliştirme</strong> olarak ayarlayın
    ve uygulamayı yeniden başlatın.
</p>
