@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center">
    <br />
    <h1 style="color:purple" class="display-4"><strong>Yazılım Teknolojileri Akademisi</strong></h1>
    <h1 style="color:purple" class="display-4"><strong>Online Kütüphane</strong></h1>
    <br />
    <br />
    <p><img src="/img/library.jpg" alt="Library Image" class="image-hover-effect"></p>
</div>

<style>
    .image-hover-effect {
        transition: transform 0.3s ease; /* Smooth transition */
    }

        .image-hover-effect:hover {
            transform: scale(1.1); /* Scale the image to 110% */
        }

</style>
